:root { 
--gray_50_01:#fafafa; 
--light_blue_A200:#3ab8ff; 
--red_300:#ff7070; 
--light_green_A200:#83ff79; 
--deep_purple_100:#cdbff1; 
--green_500:#4caf50; 
--lime_A400:#c4ec19; 
--gray_50:#f7f9fb; 
--black_900:#000000; 
--gray_200_01:#eaeaea; 
--blue_gray_700:#535566; 
--blue_gray_900:#242a33; 
--blue_gray_900_63:#242a3363; 
--deep_orange_A400:#ff3d00; 
--gray_600:#696d74; 
--gray_400:#c2c2c2; 
--gray_600_01:#797a7c; 
--blue_gray_100:#cecece; 
--orange_A200:#ffb23f; 
--blue_gray_400:#888c92; 
--blue_700:#1976d2; 
--amber_500:#ffc107; 
--gray_800:#3f3f3f; 
--gray_900:#1c1b1f; 
--gray_900_01:#121824; 
--blue_gray_900_b4:#242a33b4; 
--gray_200:#ebe8ef; 
--gray_300:#dedede; 
--gray_100:#f2f2f2; 
--black_900_99:#00000099; 
--blue_gray_400_01:#808489; 
--white_A700:#ffffff; 
}